<<<<<<< HEAD
=======
:root {
    --main-red: #be3144;
}
body{
>>>>>>> 0ac7d8be7e6a8ed4c8dac119f3e6fe9ce1679121

.welcome-section{
background-color: #3a3d40;
width: 100%;
height: 100vh;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: aliceblue;
font-size: larger;
}
.welcome-section >p{
    color: maroon;
    font-style: italic;
    font-weight: 100;
    font-size: 2rem;
}

